@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

::-webkit-scrollbar {
  overflow-y: scroll; /* Permite rolagem vertical */
  -ms-overflow-style: none; /* IE e Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  /* Default theme */
  --PRIMARY: #2a668b;
  --SECONDARY: #f37835;
  --GREEN: #00bd90;
  --WHITE: #ffffff;
  --DARK: #323232;
  --FONT: "Rubik", sans serif;
}

* {
  font-family: var(--FONT);
}

form {
  color: #666;
}

h1 {
  color: var(--WHITE);
  font-weight: 600;
}

h2 {
  color: var(--SECONDARY);
}

p {
  color: var(--PRIMARY);
  text-align: justify;
}

/* Nav fixa */
.navbar {
  background-color: var(--PRIMARY);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-item {
  padding: 0 10px;
}

.navbar-brand {
  max-height: 125px;
  max-width: 125px;
  transition: transform .3s ease-in-out;
}

/* Limitar tamanho da logo */
.navbar-brand img {
  width: 100%;
  object-fit: contain;
}

.navbar-brand:hover,
.navbar-brand:focus-visible {
  transform: scale(1.1);
  outline: none;
}

/* Estilo para os ícones */
.nav-link i {
  margin-right: 8px;
}

/* Estilo inicial para a navbar animada */
.navbar-animated {
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: none;
}

.navbar-animated.scrolled {
  background-color: var(--PRIMARY); /* Cor de fundo ao rolar */
}

.navbar-animated .nav-link {
  color: white;
  transition: color 0.3s ease;
}


/* =============================== */

/* Buttons */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: var(--SECONDARY) !important;
  border: none !important;
}

/* Estilo do botão */
.btn-success {
  background-color: var(--GREEN);
  color: var(--WHITE);
  border-radius: 15px;
  padding: 10px 20px;
  font-weight: bold;
}

.btn-entry-platform {
  background-color: var(--SECONDARY);
  color: var(--WHITE);
  border-radius: 15px;
  padding: 10px 20px;
  font-weight: bold;
}

.btn-entry-platform:hover, .focus-ring:focus-visible {
  background-color: #ce642b;
  color: var(--WHITE);
}

.focus-ring {
  --bs-focus-ring-color: rgba(243, 119, 53, 0.5);
}

.nav-pills > li > a.active {
  background-color: #ffffff !important;
  color: var(--PRIMARY) !important;
}

.btn-success i, .btn-outline-light i {
  margin-left: 10px;
}

/* =============================== */

/* Modals */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /* Deixe o modal invisível por padrão */
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  z-index: 1050;
}

.modal.show {
  display: flex; /* Exibe o modal quando visível */
}

.modal-dialog {
  max-width: 90%;
  max-height: 90%; /* Limita a altura do modal para 90% da tela */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal-header {
  border: none;
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}

.modal-body {
  padding: 20px;
  overflow-y: auto; /* Permite rolar o conteúdo do modal */
  flex-grow: 1; /* Garante que o conteúdo cresça até o tamanho máximo */
  max-height: 80vh; /* Limita a altura do conteúdo para 80% da altura da tela */
}

.close-btn-modal {
  cursor: pointer;
  position: fixed;
  color: var(--SECONDARY);
  font-size: 42px;
  border-radius: 5px;
  padding: 10px 15px;
  z-index: 1051; /* Define um z-index mais alto que os outros elementos */
}

/* =============================== */

/* Footer */
.footer {
  background-color: var(--WHITE);
  color: #737373;
}

.footer h5 {
  font-weight: bold;
  color: var(--PRIMARY);
}

.footer .social-icons a {
  color: var(--PRIMARY);
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out; /* Animação suave para o ícone */
}

.footer .social-icons a:hover {
  color: var(--SECONDARY);
}

.footer ul {
  padding: 0;
}

.footer ul li a {
  color: #737373;
  text-decoration: none;
}

.footer ul li a:hover {
  color: var(--SECONDARY);
}

.footer .footer-copyright {
  background-color: var(--SECONDARY);
  color: var(--WHITE);
  font-size: 0.9rem;
}

/* Estilo do botão fixo */
.btn-scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--DARK); /* Cor cinza */
  color: var(--WHITE); /* Cor do ícone */
  border: none; /* Remove borda */
  border-radius: 50%; /* Borda totalmente arredondada */
  padding: 20px; /* Ajuste para garantir que seja um círculo perfeito */
  font-size: 24px; /* Tamanho do ícone */
  width: 60px; /* Largura fixa */
  height: 60px; /* Altura fixa */
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
}

/* Efeito de hover (quando passa o mouse) */
.btn-scroll-top:hover {
  background-color: var(--GREEN); /* Um tom mais escuro de cinza ao passar o mouse */
  cursor: pointer;
}

.btn-scroll-top i {
  transition: transform 0.3s ease-in-out; /* Animação suave para o ícone */
}

.btn-scroll-top:hover i {
  transform: translateY(
    -10px
  ); /* Mover para a esquerda quando passar o mouse */
}

/* Quando o botão estiver visível */
.btn-scroll-top.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s 0s;
}

.correction-margin-nav {
  margin-top: 100px;
}

/* Responsividade */
@media (max-width: 992px) {
  /* Reduz o tamanho das imagens para tablets */
  .footer img {
    max-width: 150px;
    width: 100%;
  }
}

/* Para telas médias */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .modal.show {
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .modal-dialog {
    margin-top: 5vh; /* Adiciona uma margem superior para centralizar o modal */
    margin-bottom: 10vh; /* Margem inferior para evitar corte */
    max-height: 90vh; /* Impede que o modal ultrapasse a altura da tela */
    overflow-y: auto; /* Permite rolar o conteúdo caso seja necessário */
  }

  /* Garantir que o modal não seja cortado */
  .modal-content {
    max-height: 100%; /* Faz com que o conteúdo ocupe toda a altura disponível */
    overflow-y: auto; /* Permite rolagem caso o conteúdo exceda a altura */
  }

  /* Centraliza o texto e elementos para telas menores */
  .footer .row {
    text-align: center;
  }

  /* Ajusta o tamanho das logos para telas menores */
  .footer img {
    max-width: 120px;
    width: 100%; /* Para garantir responsividade */
  }

  /* Centraliza os ícones sociais e listas */
  .footer h5,
  .footer p,
  .footer .social-icons,
  .footer ul {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .footer img {
    max-width: 150px;
    width: 100%;
  }
}
