@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

::-webkit-scrollbar {
  overflow-y: scroll; /* Permite rolagem vertical */
  -ms-overflow-style: none; /* IE e Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  /* Default theme */
  --PRIMARY: #2a668b;
  --SECONDARY: #f37835;
  --GREEN: #00bd90;
  --WHITE: #ffffff;
  --DARK: #323232;
  --FONT: "Rubik", sans serif;
}

* {
  font-family: var(--FONT);
}

form {
  color: #666;
}

h1 {
  color: var(--WHITE);
  font-weight: 600;
}

h2 {
  color: var(--SECONDARY);
}

p {
  color: var(--PRIMARY);
  text-align: justify;
}

/* Nav fixa */
.navbar {
  background-color: var(--PRIMARY);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-item {
  padding: 0 10px;
}

.navbar-brand {
  max-height: 125px;
  max-width: 125px;
  transition: transform .3s ease-in-out;
}

/* Limitar tamanho da logo */
.navbar-brand img {
  width: 100%;
  object-fit: contain;
}

.navbar-brand:hover,
.navbar-brand:focus-visible {
  transform: scale(1.1);
  outline: none;
}

/* Estilo para os ícones */
.nav-link i {
  margin-right: 8px;
}

/* =============================== */

/* Buttons */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: var(--SECONDARY) !important;
}

.btn-entry-platform {
  background-color: var(--SECONDARY);
  color: var(--WHITE);
  border-radius: 15px;
  padding: 10px 20px;
  font-weight: bold;
}

.btn-entry-platform:hover, .focus-ring:focus-visible {
  background-color: #ce642b;
  color: var(--WHITE);
}

.focus-ring {
  --bs-focus-ring-color: rgba(243, 119, 53, 0.5);
}

.nav-pills > li > a.active {
  background-color: #ffffff !important;
  color: var(--PRIMARY) !important;
}

.btn-success i, .btn-outline-light i {
  margin-left: 10px;
}

/* =============================== */

/* Footer */
.footer {
  background-color: var(--WHITE);
  color: #737373;
}

.footer h5 {
  font-weight: bold;
  color: var(--PRIMARY);
}

.footer .social-icons a {
  color: var(--PRIMARY);
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out; /* Animação suave para o ícone */
}

.footer .social-icons a:hover {
  color: var(--SECONDARY);
}

.footer ul {
  padding: 0;
}

.footer ul li a {
  color: #737373;
  text-decoration: none;
}

.footer ul li a:hover {
  color: var(--SECONDARY);
}

.footer .footer-copyright {
  background-color: var(--SECONDARY);
  color: var(--WHITE);
  font-size: 0.9rem;
}

/* Estilo do botão fixo */
.btn-scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--DARK); /* Cor cinza */
  color: var(--WHITE); /* Cor do ícone */
  border: none; /* Remove borda */
  border-radius: 50%; /* Borda totalmente arredondada */
  padding: 20px; /* Ajuste para garantir que seja um círculo perfeito */
  font-size: 24px; /* Tamanho do ícone */
  width: 60px; /* Largura fixa */
  height: 60px; /* Altura fixa */
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
}

/* Efeito de hover (quando passa o mouse) */
.btn-scroll-top:hover {
  background-color: var(--GREEN); /* Um tom mais escuro de cinza ao passar o mouse */
  cursor: pointer;
}

.btn-scroll-top i {
  transition: transform 0.3s ease-in-out; /* Animação suave para o ícone */
}

.btn-scroll-top:hover i {
  transform: translateY(
    -10px
  ); /* Mover para a esquerda quando passar o mouse */
}

/* Quando o botão estiver visível */
.btn-scroll-top.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s 0s;
}