.blue h2,
.blue h3,
.blue p {
  color: var(--WHITE);
}

.blue {
  background-color: var(--PRIMARY);
}

/* Container geral do carrossel */
.bg-image {
  position: relative;
  overflow: hidden;
}

/* Estilização do carrossel */
.carousel-header {
  width: 100%;
  height: 100%;
  z-index: 1; /* Fica abaixo do gradiente */
}

.carousel-item-header img {
  position: relative; /* Necessário para que o ::after funcione corretamente */
  z-index: 1; /* Deixa a imagem abaixo do gradiente */
}

.carousel-item-header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      rgba(0, 0, 0, .4) 98%, /* Cor mais escura */
      rgba(255, 255, 255, 1) 100% /* Transparente */
  );
  z-index: 2; /* Deixa o gradiente acima da imagem */
  pointer-events: none; /* Permite interagir com os elementos acima do gradiente */
}

.gradient-custom {
  background: #2a668b;
}


.carousel-indicators [data-bs-target]{
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.carousel .carousel-indicators-testimonials button {
 width: 10px;
 height: 10px;
 border-radius: 100%;
}

.report-message {
  color: var(--DARK);
}

.report-name {
  color: var(--PRIMARY);
}

.report-profile {
  color: var(--PRIMARY);
}

.carousel-inner-header {
  width: 100%;
  height: 100%;
}

.carousel-inner-header img {
  width: 100%;
  height: 60vh;
  object-fit: cover; /* Evita distorções */
}

/* Títulos dinâmicos */
.carousel-caption {
  position: absolute;
  top: 40%;
  left: 10%;
  text-align: center;
  z-index: 3; /* Acima do gradiente */
}

.carousel-title {
  font-size: 32px;
  color: var(--WHITE);
  font-weight: bold;
  text-shadow: 0px 3px 0px #2a506f; /* Destaque */
}

.carousel-description {
  font-size: 18px;
  color: var(--WHITE);
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Destaque */
}

/* Botão fixo */
.carousel-button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3; /* Acima do gradiente */
}

.carousel-button .btn {
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
}

/* Centralizar o conteúdo dentro do container */
.content {
  margin-top: 20px; /* Adicionando margem superior para não sobrepor com a navbar */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Garante que ocupe toda a altura da tela */
}

.text-column {
  max-width: 50%; /* Limita o texto para não ocupar toda a largura */
}

.img-column {
  text-align: center;
}

.h2-color-primary h2 {
  color: #43a0d9;
}

.container-fluid-left {
  padding-left: 0;
}

.centralize {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.video-container {
  position: relative;
  width: 100%;
  max-width: 560px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.thumbnail {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  transition: opacity 0.5s ease;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail .play-button {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: rgba(67, 160, 217, 0.9);
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><path d="M8 5v14l11-7z"/></svg>');
  -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><path d="M8 5v14l11-7z"/></svg>');
  background-size: cover;
  transition: transform 0.3s ease;
}

.thumbnail:hover .play-button {
  transform: scale(1.2);
}

iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.video-container.active iframe {
  opacity: 1;
  pointer-events: auto;
}

.video-container.active .thumbnail {
  opacity: 0;
  pointer-events: none;
}


.title-muted {
  color: #adadad;
  font-size: 1.5rem;
}

.scroller {
  max-width: 100%;
  position: relative;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: nowrap; /* Remove a quebra para o scroll contínuo */
  gap: 1.5rem; /* Mais espaçamento entre logos */
}

.scroller__inner img {
  width: clamp(150px, 10vw, 200px); /* Ajuste dinâmico de tamanho */
  height: auto; /* Mantém a proporção da imagem */
  object-fit: contain;
  border-radius: 12px;
  opacity: 0; /* Esconda até a imagem carregar */
}

.scroller__inner img[src] {
  opacity: 1; /* Mostre a imagem quando o src real for definido */
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 10%,
    white 90%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  animation: scroll var(--_animation-duration, 40s) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


.shape {
  background-image: url("../assets/forms/Vector_1.svg"); /* Adiciona a forma como fundo */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  background-size: cover; /* Faz a imagem preencher o contêiner */
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 560px; /* Padrão inicial */
  margin: 0 auto;
  overflow: hidden; /* Evita conteúdo excedente */
}

.video-style {
  width: 80%;
  aspect-ratio: 16/9;
  border-radius: 1rem;
  z-index: 2;
}

.show-more-ballon {
  width: 50px;
  height: 50px;
  background-color: var(--GREEN);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-decoration: none;
  position: absolute;
  top: 5%;
  right: 5%;
}

.show-more-ballon i {
  color: var(--WHITE);
  font-size: 18px;
}

.show-more-ballon:hover, .show-more-ballon:focus-visible {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
  transform: translateY(5px);
  outline: none;
}

.step-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: nowrap; /* Garante que fique em linha */
}

.step-card {
  position: relative;
  background-color: #ecf8ff;
  border: 1px solid #d1d9e6;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 220px; /* Define uma largura consistente para os cards */
  height: 300px;
  cursor: pointer;
}

.step-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.step-image img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.step-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-content h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
  color: #2a506f;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .step-container { 
    flex-direction: column;
    gap: 2rem; /* Espaçamento entre os elementos no mobile */
    padding: 3em; /* Adiciona mais espaçamento interno */
  }

  .step-card {
    width: auto; /* Define uma largura consistente para os cards */
    height: auto;
    flex: 1;
  }

  .arrow {
    transform: rotate(90deg); /* Setas apontam para baixo no mobile */
  }

  .step-content h3 {
    margin-top: 10px;
    font-size: 1.6rem;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .step-card {
    width: 15em; /* Ajusta largura em telas médias */
  }
}

/* Estilo dos cards */
/* Contêiner da área de rolagem */
.card-custom-scroll {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory; /* Ativa o efeito de parada por item */
  scroll-behavior: smooth; /* Suaviza o scroll */
  gap: 20px; /* Espaço entre os cards */
  padding: 10px 0;
}

/* Cada card deve "parar" no lugar certo */
.card-custom-one {
  flex: none; /* Garante que cada card tenha o mesmo tamanho */
  scroll-snap-align: start; /* Faz com que o scroll pare no início de cada card */
  width: 300px; /* Tamanho fixo para cada card */
  background: #fff; /* Fundo branco */
  border: none; /* Borda cinza clara */
  border-radius: 8px; /* Bordas arredondadas */
  overflow: hidden; /* Garante que o conteúdo não extrapole o card */
}

.card-custom-one:nth-child(odd) {
  background-color: #ecf8ff; /* Cor de fundo para cards ímpares */
}

.card-custom-one:nth-child(even) {
  background-color: var(--WHITE); /* Cor de fundo para cards pares */
}

/* Estilo da imagem */
.lottie-container {
  flex: 1; /* Largura total do card */
  object-fit: contain; /* Garante que a imagem se ajuste sem distorção */
}

/* Conteúdo do card */
.card-custom-one-content {
  padding: 15px; /* Espaçamento interno */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaçamento entre o título e a descrição */
  overflow-y: auto; /* Adiciona rolagem se o conteúdo exceder o espaço */
  text-align: center;
}

/* Título do card */
.card-custom-one-title {
  font-size: 18px;
  font-weight: bold;
  color: #333; /* Texto escuro */
  margin: 0; /* Remove margens padrão */
}

/* Descrição do card */
.card-custom-one-description {
  font-size: 14px;
  line-height: 1.5; /* Melhor leitura */
  color: #666; /* Texto levemente mais claro */
  margin: 0; /* Remove margens padrão */
  text-align: center;
  overflow: hidden;
}

/* Estilo dos cards lg-card */
.lg-card {
  display: flex;
  flex-direction: column;
}

.lg-card-img-container {
  height: 70%; /* Aumenta a altura da imagem para que ocupe mais espaço */
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.lg-card-img-top {
  width: 100%; /* A imagem ocupa toda a largura do container */
  height: 100%;
  object-fit: cover; /* Garante que a imagem cubra o espaço disponível sem distorção */
}

/* Estilo dos botões de navegação */
.card-btn-scroll-left, .card-btn-scroll-right {
  background-color: var(--SECONDARY);
  color: var(--WHITE);
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
}

.card-btn-container {
  top: -80px;
  right: 0;
}

/* Efeito de hover nos botões */
.card-btn-scroll-left:hover, .card-btn-scroll-right:hover, 
.card-btn-scroll-left:focus-visible, .card-btn-scroll-right:focus-visible {
  outline: none;  
  background-color: #d4682e;
}

.benefit-item {
  border-radius: 8px; /* Arredondar cantos para suavizar */
  border: 2px dashed var(--DARK);
  text-align: center; /* Alinha todo o conteúdo no centro */
  flex-shrink: 0; /* Evita que o item encolha */
}

.benefit-item i.benefit-icon {
  font-size: 50px; /* Tamanho do ícone */
  color: var(--PRIMARY); /* Cor verde do ícone */
  margin-bottom: 10px; /* Espaçamento entre ícone e texto */
}

.benefit-list {
  list-style: none;
  margin: 0 1rem;
  padding: 0;
}


.benefit-text {
  font-size: 16px;
  color: var(--DARK);
  text-align: justify;
}

.benefit-title {
  font-weight: 500;
  font-size: 18px;
  text-align: left;
  color: var(--PRIMARY);  
}

.benefit-item p i {
  margin-right: 15px; /* Espaçamento entre o ícone e o texto */
}

.ajust-sm-icon-card {
  position: absolute;
  top: -30px;
  right: -10px; 
  transform: rotate(-30deg);
}

.ajust-height {
  height: 200px; /* Ajusta a altura do texto */
}

.phones {
  width: 80%;
}

.position {
  position: relative;
  top: -500px;
}

.metrics-container {
  background-color: var(--PRIMARY); /* Cor suave para destaque */
  border-radius: 15px;
  flex: 1;
  padding: 1.2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.metric-number {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--WHITE); /* Verde para confiança */
  margin: 0;
  transition: transform 0.3s ease; /* Efeito visual extra */
  flex-wrap: nowrap;
}

#metrics p {
  font-weight: 500;
  font-size: 18px;
  color: var(--WHITE);
  text-transform: uppercase;
  text-align: center;
}

.metric-number.scrolled {
  transform: scale(1.1); /* Animação de destaque */
}

@media (max-width: 1200px) and (min-width: 992px) {
  .metrics-container .row {
    gap: 20px; /* Adiciona espaço entre colunas */
  }

  .metric-number {
    font-size: 2rem; /* Reduz tamanho do texto */
  }

  .metrics-container p {
    font-size: 1rem; /* Ajuste do tamanho da descrição */
    text-align: center;
  }
}

/* Botões de navegação */
.btn-scroll-left,
.btn-scroll-right {
  color: var(--SECONDARY);
  border: none;
  padding: 15px;
  border-radius: 15px;
  font-size: 24px;
  cursor: pointer;
  opacity: 0; /* Inicialmente invisíveis */
  visibility: hidden; /* Inicialmente invisíveis */
  z-index: 1000;
  transition: background-color 0.3s ease;
}

/* Botões de navegação visíveis quando necessário */
.btn-scroll-left.show,
.btn-scroll-right.show {
  opacity: 1;
  visibility: visible;
}

.btn-scroll-left:hover,
.btn-scroll-right:hover,
.btn-scroll-left:focus-visible,
.btn-scroll-right:focus-visible {
  background-color: var(--PRIMARY);
  color: var(--WHITE);
  outline: none;
}

.btn-scroll-left {
  left: 10px;
}

.btn-scroll-right {
  right: 10px;
}

/* Icones de seta */
.fa-chevron-left,
.fa-chevron-right {
  font-size: 18px;
}

/* Estilos dos itens */
.benefit-item {
  min-width: 200px;
  text-align: center;
}


/* FAQs */

.accordion {
  --bs-accordion-active-bg: var(--PRIMARY);
  --bs-accordion-active-color: var(--WHITE);
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E");
}

.accordion-item {
  overflow: hidden; /* Necessário para ocultar conteúdo ao reduzir a altura */
  max-height: 0; /* Inicialmente escondido */
  opacity: 0;
  transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
}

.accordion-item.visible {
  max-height: 500px; /* Altura suficiente para acomodar o conteúdo */
  opacity: 1;
}

.hidden {
  display: none;
}


/* Responsividade */

@media (max-width: 1500px) {
  .position {
    position: relative;
    top: -400px;
  }
}

@media (max-width: 1200px) {
  .position {
    position: relative;
    top: -150px;
  }

  .ajust-height {
    height: 300px; /* Ajusta a altura do texto */
  }
}

@media (min-width: 1200px) {
  .video-container {
    max-width: 800px; /* Aumenta o tamanho do contêiner */
  }

  .scroller__inner img {
    width: 130px;
    height: 130px;
    object-fit: contain;
    border-radius: 15px;
  }
}

@media (max-width: 1000px) {
  .position {
    position: relative;
    top: -40px;
  }

  .scroller__inner img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 15px;
  }
}

/* Para telas médias */
@media (max-width: 768px) {
  .video-container {
    max-width: 480px; /* Reduz o tamanho em tablets */
  }
  
  .ajust-height {
    height: 100%; /* Ajusta a altura do texto */
  }

  .position {
    position: none;
    top: 0;
  }

  .scroller__inner img {
    width: 110px;
    height: 110px;
    object-fit: contain;
    border-radius: 15px;
  }

  /* Form button */
  /* Estilo para o spinner */
  .spinner-border {
    width: 1.5rem;
    height: 1.5rem;
    border-width: 0.2em;
  }
}

@media (max-width: 576px) {
  .scroller__inner img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 15px;
  }
}

/* Para telas pequenas */
@media (max-width: 480px) {
  .video-container {
    max-width: 320px; /* Ajuste final para smartphones */
  }

  .carousel-caption {
    top: 30%;
  }

  .carousel-title {
    font-size: 24px;
    text-align: center;
  }

  .carousel-description {
    display: none;
  }

  .card-btn-container {
    display: none;
  }

  .card-custom-scroll {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .benefit-item {
    min-width: unset; /* Remove a largura mínima */
    max-width: 100%; /* Permite que os cards ocupem a largura total */
    text-align: left; /* Opcional: ajusta o texto para alinhar à esquerda */
  }

  .btn-scroll-left, .btn-scroll-right {
    display: none; /* Oculta os botões de rolagem */
  }

  .scroller__inner img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 15px;
  }
}
