@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

::-webkit-scrollbar {
  overflow-y: scroll; /* Permite rolagem vertical */
  -ms-overflow-style: none; /* IE e Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  /* Default theme */
  --PRIMARY: #2a668b;
  --SECONDARY: #f37835;
  --GREEN: #00bd90;
  --WHITE: #ffffff;
  --DARK: #323232;
  --FONT: "Rubik", sans serif;
}

* {
  font-family: var(--FONT);
}

h1 {
  color: var(--WHITE);
}

.text-header {
  color: var(--WHITE);
  font-weight: 400;
}

.paragraph {
  display: block;
}

.low-paragraph {
  display: none;
}

h2 {
  color: var(--SECONDARY);
}

p {
  color: var(--PRIMARY);
  text-align: justify;
}

.blue h2,
.blue h3,
.blue p {
  color: var(--WHITE);
}

/* Container geral do carrossel */
.bg-image {
  position: relative;
  overflow: hidden;
}

/* Estilização do carrossel */
.carousel {
  width: 100%;
  height: 100%;
  z-index: 1; /* Fica abaixo do gradiente */
}

.carousel-item img {
  position: relative; /* Necessário para que o ::after funcione corretamente */
  z-index: 1; /* Deixa a imagem abaixo do gradiente */
}

.carousel-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      rgba(0, 0, 0, .4) 98%, /* Cor mais escura */
      rgba(255, 255, 255, 1) 100% /* Transparente */
  );
  z-index: 2; /* Deixa o gradiente acima da imagem */
  pointer-events: none; /* Permite interagir com os elementos acima do gradiente */
}


.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-inner img {
  width: 100%;
  height: 60vh;
  object-fit: cover; /* Evita distorções */
}

/* Títulos dinâmicos */
.carousel-caption {
  position: absolute;
  top: 40%;
  left: 10%;
  text-align: center;
  z-index: 3; /* Acima do gradiente */
}

.carousel-title {
  font-size: 32px;
  color: var(--WHITE);
  font-weight: bold;
  text-shadow: 0px 3px 0px #2a506f; /* Destaque */
}

.carousel-description {
  font-size: 18px;
  color: var(--WHITE);
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Destaque */
}

/* Botão fixo */
.carousel-button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3; /* Acima do gradiente */
}

.carousel-button .btn {
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
}


/* Nav fixa */
.navbar {
  background-color: var(--PRIMARY);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-item {
  padding: 0 10px;
}

/* Estilo do botão */
.btn-success {
  background-color: var(--GREEN);
  color: var(--WHITE);
  border-radius: 15px;
  padding: 10px 20px;
  font-weight: bold;
}

.btn-entry-platform {
  background-color: var(--SECONDARY);
  color: var(--WHITE);
  border-radius: 15px;
  padding: 10px 20px;
  font-weight: bold;
}

.btn-entry-platform:hover, .focus-ring:focus-visible {
  background-color: #ce642b;
  color: var(--WHITE);
}

.focus-ring {
  --bs-focus-ring-color: rgba(243, 119, 53, 0.5);
}

.btn-success i, .btn-outline-light i {
  margin-left: 10px;
}

.navbar-brand {
  max-height: 125px;
  max-width: 125px;
  transition: transform .3s ease-in-out;
}

/* Limitar tamanho da logo */
.navbar-brand img {
  width: 100%;
  object-fit: contain;
}

.navbar-brand:hover,
.navbar-brand:focus-visible {
  transform: scale(1.1);
  outline: none;
}

/* Animação suave na imagem */
.animate-img {
  animation: moveUpDown 3s ease-in-out infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Estilo para os ícones */
.nav-link i {
  margin-right: 8px;
}

/* Centralizar o conteúdo dentro do container */
.content {
  margin-top: 20px; /* Adicionando margem superior para não sobrepor com a navbar */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Garante que ocupe toda a altura da tela */
}

.text-column {
  max-width: 50%; /* Limita o texto para não ocupar toda a largura */
}

.img-column {
  text-align: center;
}

.blue {
  background-color: var(--PRIMARY);
}

.h2-color-primary h2 {
  color: #43a0d9;
}

.container-fluid-left {
  padding-left: 0;
}

.centralize {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.scroller {
  max-width: 100%;
}

.title-muted {
  color: #adadad;
  font-size: 1.5rem;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller__inner img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 15px;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 5%,
    white 95%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.shape {
  background-image: url("../assets/forms/Vector_1.svg"); /* Adiciona a forma como fundo */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  background-size: cover; /* Faz a imagem preencher o contêiner */
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 560px; /* Padrão inicial */
  margin: 0 auto;
  overflow: hidden; /* Evita conteúdo excedente */
}

.video-style {
  width: 80%;
  aspect-ratio: 16/9;
  border-radius: 1rem;
  z-index: 2;
}

.show-more-ballon {
  width: 50px;
  height: 50px;
  background-color: var(--GREEN);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-decoration: none;
  position: absolute;
  top: 5%;
  right: 5%;
}

.show-more-ballon i {
  color: var(--WHITE);
  font-size: 18px;
}

.show-more-ballon:hover, .show-more-ballon:focus-visible {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
  transform: translateY(5px);
  outline: none;
}

.step-card {
  border: 1px solid #d1d9e6;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ecf8ff;
  flex: 1; /* Faz os cards se ajustarem */
  max-width: 18%; /* Largura máxima */
  height: auto; /* Altura automática */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.step-card img {
  width: 100%;
  height: 100%; /* Altura maior para destacar a imagem */
  object-fit: contain; /* Mantém proporção */
}

.step-card h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #2a506f;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  flex-shrink: 0;
}

.step-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: nowrap; /* Garante que fique em linha */
}

@media (max-width: 768px) {
  .step-container {
    flex-direction: column;
    gap: 2rem; /* Espaçamento entre os elementos no mobile */
    padding: 2rem; /* Adiciona mais espaçamento interno */
  }

  .step-card {
    max-width: 100%; /* Ocupa toda a largura no celular */

  }

  .arrow {
    transform: rotate(90deg); /* Setas apontam para baixo no mobile */
  }

  .step-card h3 {
    margin-top: 10px;
    font-size: 1.6rem;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .step-card {
    max-width: 22%; /* Ajusta largura em telas médias */
  }
}

/* Estilo dos cards */
/* Contêiner da área de rolagem */
.card-custom-scroll {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory; /* Ativa o efeito de parada por item */
  scroll-behavior: smooth; /* Suaviza o scroll */
  gap: 20px; /* Espaço entre os cards */
  padding: 10px 0;
}

/* Cada card deve "parar" no lugar certo */
.card {
  flex: none; /* Garante que cada card tenha o mesmo tamanho */
  scroll-snap-align: start; /* Faz com que o scroll pare no início de cada card */
  width: 300px; /* Tamanho fixo para cada card */
  background: #fff; /* Fundo branco */
  border: none; /* Borda cinza clara */
  border-radius: 8px; /* Bordas arredondadas */
  overflow: hidden; /* Garante que o conteúdo não extrapole o card */
}

.card:hover, .card:hover .lottie-container {
  filter: saturate(1);
  transition: filter .3s ease-in;
}

.card:nth-child(odd) {
  background-color: #ecf8ff; /* Cor de fundo para cards ímpares */
}

.card:nth-child(even) {
  background-color: var(--WHITE); /* Cor de fundo para cards pares */
}

/* Estilo da imagem */
.lottie-container {
  flex: 1; /* Largura total do card */
  object-fit: contain; /* Garante que a imagem se ajuste sem distorção */
}

/* Conteúdo do card */
.card-content {
  padding: 15px; /* Espaçamento interno */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaçamento entre o título e a descrição */
  overflow-y: auto; /* Adiciona rolagem se o conteúdo exceder o espaço */
  text-align: center;
}

/* Título do card */
.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333; /* Texto escuro */
  margin: 0; /* Remove margens padrão */
}

/* Descrição do card */
.card-description {
  font-size: 14px;
  line-height: 1.5; /* Melhor leitura */
  color: #666; /* Texto levemente mais claro */
  margin: 0; /* Remove margens padrão */
  text-align: center;
  overflow: hidden;
}

/* Estilo dos cards lg-card */
.lg-card {
  display: flex;
  flex-direction: column;
}

.lg-card-img-container {
  height: 70%; /* Aumenta a altura da imagem para que ocupe mais espaço */
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.lg-card-img-top {
  width: 100%; /* A imagem ocupa toda a largura do container */
  height: 100%;
  object-fit: cover; /* Garante que a imagem cubra o espaço disponível sem distorção */
}

/* Estilo dos botões de navegação */
.card-btn-scroll-left, .card-btn-scroll-right {
  background-color: var(--SECONDARY);
  color: var(--WHITE);
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
}

.card-btn-container {
  top: -80px;
  right: 0;
}

/* Efeito de hover nos botões */
.card-btn-scroll-left:hover, .card-btn-scroll-right:hover, 
.card-btn-scroll-left:focus-visible, .card-btn-scroll-right:focus-visible {
  outline: none;  
  background-color: #d4682e;
}

.benefit-item {
  border-radius: 8px; /* Arredondar cantos para suavizar */
  border: 2px dashed var(--DARK);
  text-align: center; /* Alinha todo o conteúdo no centro */
  flex-shrink: 0; /* Evita que o item encolha */
}

.benefit-item i.benefit-icon {
  font-size: 50px; /* Tamanho do ícone */
  color: var(--PRIMARY); /* Cor verde do ícone */
  margin-bottom: 10px; /* Espaçamento entre ícone e texto */
}

.benefit-list {
  list-style: none;
  margin: 0 1rem;
  padding: 0;
}


.benefit-text {
  font-size: 16px;
  color: var(--DARK);
  text-align: justify;
}

.benefit-title {
  font-weight: 500;
  font-size: 18px;
  text-align: left;
  color: var(--PRIMARY);  
}

.benefit-item p i {
  margin-right: 15px; /* Espaçamento entre o ícone e o texto */
}

.ajust-sm-icon-card {
  position: absolute;
  top: -30px;
  right: -10px; 
  transform: rotate(-30deg);
}

.ajust-height {
  height: 200px; /* Ajusta a altura do texto */
}

.phones {
  width: 80%;
}

.position {
  position: relative;
  top: -500px;
}

/* Modals */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /* Deixe o modal invisível por padrão */
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  z-index: 1050;
}

.modal.show {
  display: flex; /* Exibe o modal quando visível */
}

.body-no-scroll {
  overflow: hidden; /* Desativa o scroll na página principal */
}

.modal-dialog {
  max-width: 90%;
  max-height: 90%; /* Limita a altura do modal para 90% da tela */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal-header {
  border: none;
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}

.modal-body {
  padding: 20px;
  overflow-y: auto; /* Permite rolar o conteúdo do modal */
  flex-grow: 1; /* Garante que o conteúdo cresça até o tamanho máximo */
  max-height: 80vh; /* Limita a altura do conteúdo para 80% da altura da tela */
}

.close-btn-modal {
  cursor: pointer;
  position: fixed;
  color: var(--SECONDARY);
  font-size: 42px;
  border-radius: 5px;
  padding: 10px 15px;
  z-index: 1051; /* Define um z-index mais alto que os outros elementos */
}

.metrics-container {
  background-color: var(--PRIMARY); /* Cor suave para destaque */
  border-radius: 15px;
  flex: 1;
  padding: 1.2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.metric-number {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--WHITE); /* Verde para confiança */
  margin: 0;
  transition: transform 0.3s ease; /* Efeito visual extra */
}

#metrics p {
  font-weight: 500;
  font-size: 18px;
  color: var(--WHITE);
}

.metric-number.scrolled {
  transform: scale(1.1); /* Animação de destaque */
}


form {
  color: #666;
}

.footer {
  background-color: var(--WHITE);
  color: #737373;
}

.footer h5 {
  font-weight: bold;
  color: var(--PRIMARY);
}

.footer .social-icons a {
  color: var(--PRIMARY);
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out; /* Animação suave para o ícone */
}

.footer .social-icons a:hover {
  color: var(--SECONDARY);
}

.footer ul {
  padding: 0;
}

.footer ul li a {
  color: #737373;
  text-decoration: none;
}

.footer ul li a:hover {
  color: var(--SECONDARY);
}

.footer .footer-copyright {
  background-color: var(--SECONDARY);
  color: var(--WHITE);
  font-size: 0.9rem;
}

/* Estilo do botão fixo */
.btn-scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--DARK); /* Cor cinza */
  color: var(--WHITE); /* Cor do ícone */
  border: none; /* Remove borda */
  border-radius: 50%; /* Borda totalmente arredondada */
  padding: 20px; /* Ajuste para garantir que seja um círculo perfeito */
  font-size: 24px; /* Tamanho do ícone */
  width: 60px; /* Largura fixa */
  height: 60px; /* Altura fixa */
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
}

/* Efeito de hover (quando passa o mouse) */
.btn-scroll-top:hover {
  background-color: var(--GREEN); /* Um tom mais escuro de cinza ao passar o mouse */
  cursor: pointer;
}

.btn-scroll-top i {
  transition: transform 0.3s ease-in-out; /* Animação suave para o ícone */
}

.btn-scroll-top:hover i {
  transform: translateY(
    -10px
  ); /* Mover para a esquerda quando passar o mouse */
}

/* Quando o botão estiver visível */
.btn-scroll-top.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s 0s;
}

/* Botões de navegação */
.btn-scroll-left,
.btn-scroll-right {
  color: var(--SECONDARY);
  border: none;
  padding: 15px;
  border-radius: 15px;
  font-size: 24px;
  cursor: pointer;
  opacity: 0; /* Inicialmente invisíveis */
  visibility: hidden; /* Inicialmente invisíveis */
  z-index: 1000;
  transition: background-color 0.3s ease;
}

/* Botões de navegação visíveis quando necessário */
.btn-scroll-left.show,
.btn-scroll-right.show {
  opacity: 1;
  visibility: visible;
}

.btn-scroll-left:hover,
.btn-scroll-right:hover,
.btn-scroll-left:focus-visible,
.btn-scroll-right:focus-visible {
  background-color: var(--PRIMARY);
  color: var(--WHITE);
  outline: none;
}

.btn-scroll-left {
  left: 10px;
}

.btn-scroll-right {
  right: 10px;
}

/* Icones de seta */
.fa-chevron-left,
.fa-chevron-right {
  font-size: 18px;
}

/* Estilos dos itens */
.benefit-item {
  min-width: 200px;
  text-align: center;
}


/* FAQs */

.accordion {
  --bs-accordion-active-bg: var(--PRIMARY);
  --bs-accordion-active-color: var(--WHITE);
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E");
}

.accordion-item {
  overflow: hidden; /* Necessário para ocultar conteúdo ao reduzir a altura */
  max-height: 0; /* Inicialmente escondido */
  opacity: 0;
  transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
}

.accordion-item.visible {
  max-height: 500px; /* Altura suficiente para acomodar o conteúdo */
  opacity: 1;
}


.hidden {
  display: none;
}


/* Responsividade */

@media (max-width: 1500px) {
  .position {
    position: relative;
    top: -400px;
  }
}

@media (max-width: 1200px) {
  .position {
    position: relative;
    top: -150px;
  }

  .ajust-height {
    height: 300px; /* Ajusta a altura do texto */
  }
}

@media (min-width: 1200px) {
  .video-container {
    max-width: 800px; /* Aumenta o tamanho do contêiner */
  }

  .scroller__inner img {
    width: 130px;
    height: 130px;
    object-fit: contain;
    border-radius: 15px;
  }
}

@media (max-width: 1000px) {
  .position {
    position: relative;
    top: -100px;
  }

  .scroller__inner img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 15px;
  }
}

@media (max-width: 992px) {
  /* Reduz o tamanho das imagens para tablets */
  .footer img {
    max-width: 150px;
    width: 100%;
  }
}

/* Para telas médias */
@media (max-width: 768px) {
  .video-container {
    max-width: 480px; /* Reduz o tamanho em tablets */
  }

  .row {
    flex-direction: column;
  }

  .text-column {
    text-align: center;
    max-width: 100%;
  }

  .img-column {
    margin-top: 20px;
  }
  
  .ajust-height {
    height: 100%; /* Ajusta a altura do texto */
  }

  .position {
    position: none;
    top: 0;
  }

  .scroller__inner img {
    width: 110px;
    height: 110px;
    object-fit: contain;
    border-radius: 15px;
  }

  .modal.show {
    display: flex;
    align-items: center;
    justify-items: center;
    
  }

  .modal-dialog {
    margin-top: 5vh; /* Adiciona uma margem superior para centralizar o modal */
    margin-bottom: 10vh; /* Margem inferior para evitar corte */
    max-height: 90vh; /* Impede que o modal ultrapasse a altura da tela */
    overflow-y: auto; /* Permite rolar o conteúdo caso seja necessário */
  }

  /* Garantir que o modal não seja cortado */
  .modal-content {
    max-height: 100%; /* Faz com que o conteúdo ocupe toda a altura disponível */
    overflow-y: auto; /* Permite rolagem caso o conteúdo exceda a altura */
  }

  .paragraph {
    display: none;
  }
  
  .low-paragraph {
    display: block;
  }

  /* Form button */
  /* Estilo para o spinner */
  .spinner-border {
    width: 1.5rem;
    height: 1.5rem;
    border-width: 0.2em;
  }


  /* Centraliza o texto e elementos para telas menores */
  .footer .row {
    text-align: center;
  }

  /* Ajusta o tamanho das logos para telas menores */
  .footer img {
    max-width: 120px;
    width: 100%; /* Para garantir responsividade */
  }

  /* Centraliza os ícones sociais e listas */
  .footer h5,
  .footer p,
  .footer .social-icons,
  .footer ul {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .footer img {
    max-width: 150px;
    width: 100%;
  }

  .scroller__inner img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 15px;
  }
}

/* Para telas pequenas */
@media (max-width: 480px) {
  .video-container {
    max-width: 320px; /* Ajuste final para smartphones */
  }

  .carousel-title {
    font-size: 24px;
    text-align: center;
  }

  .carousel-description {
    display: none;
  }

  .card-btn-container {
    display: none;
  }

  .card-custom-scroll {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .benefit-item {
    min-width: unset; /* Remove a largura mínima */
    max-width: 100%; /* Permite que os cards ocupem a largura total */
    text-align: left; /* Opcional: ajusta o texto para alinhar à esquerda */
  }

  .btn-scroll-left, .btn-scroll-right {
    display: none; /* Oculta os botões de rolagem */
  }

  .scroller__inner img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 15px;
  }
}
